<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/pageHead', { title: 'Sign Up' }) %>
    <link rel="stylesheet" href="../../public/css/form.css">
</head>

<body>
    <%- include('../components/bodyHead') %>

    <script src="../../public/js/forms/createPetProfile.js"></script>

    <div class="form-wrapper">
        <div class="form-container">
            <h2>Register your pet</h2>
            <form method="POST" id="registerPetForm">
                <label for="petName">Pet Name:</label>
                <input type="text" id="petName" name="petName" required>
                <div class="error-message" id="petNameError"></div>
    
                <label for="petBreed">Breed:</label>
                <input type="text" id="petBreed" name="petBreed" required>
                <div class="error-message" id="petBreedError"></div>
    
                <label for="petAge">Age:</label>
                <input type="number" id="petAge" name="petAge" required>
                <div class="error-message" id="petAgeError"></div>

                <p>By default, we will use your accounts contact information. You can change this in your pets settings!</p>

                <div class="error-message" id="otherError"></div>
                <input type="submit" value="Register Pet">
            </form>
        </div>
    </div>
</body>

</html>