<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../components/pageHead', { title: 'Reset Password' }) %>
        <link rel="stylesheet" href="/public/css/login_signup/root.css">
        <link rel="stylesheet" href="/public/css/form.css">
</head>

<body>
    <%- include('../components/bodyHead') %>

        <script src="/public/js/forgotpassword.js"></script>

        <div class="form-wrapper">
            <div class="form-container">
                <h2>Password Reset</h2>
                <% if (typeof error !=='undefined' && error !==null && typeof status !== 'undefined') { %>
                    <h2>Password Change Unsuccessful - please check the error below and try again.</h2>
                    <p style="color: red;">
                        <%= error %>
                    </p>
                    <% } else if (typeof status !== 'undefined' && status === 'SUCCESS') { %>
                        <p>Your password has been reset!</p>
                        <% } else { %>
                            <form method="POST" action="/forgot-password" id="forgotPasswordForm">
                                <label for="email">Email:</label>
                                <input type="email" id="email" name="email" required>
                                <div class="error-message" id="otherError"></div>
                                <input type="submit" value="Send Reset Link">
                            </form>
                        <% } %>
            </div>
            <div class="submitted-container" style="display:none">
                <h1>Password Reset Submitted</h1>
                <h2>If the email you entered has an account, you will receieve an email shortly.</h2>
                <p>Tip: If you don't see the email, check your spam folder.</p>
                <br>
                <p>Done? Go ahead and <a href="/signin">sign in to your account.</a></h3>
            </div>
        </div>
</body>

</html>