<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/pageHead', { title: 'Sign In' }) %>
    <link rel="stylesheet" href="../../public/css/form.css">
</head>

<body>
    <%- include('../components/bodyHead') %>

    <script src="../../public/js/login_signup.js"></script>

    <div class="form-wrapper">
        <div class="form-container">
            <h2>Sign In</h2>
            <form method="POST" action="/api/user-portal/signin" id="signInForm">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <div class="error-message" id="emailError"></div>
    
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <div class="error-message" id="passwordError"></div>
                <div class="error-message" id="otherError"></div>
                <input type="submit" value="Sign In">
            </form>
            <br>
            <a href="/forgot-password">Forgot Password?</a>
        </div>
    </div>
</body>
</html>