<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/pageHead', { title: 'Sign Up' }) %>
    <link rel="stylesheet" href="../../public/css/form.css">
</head>

<body>
    <%- include('../components/bodyHead') %>

    <script src="../../public/js/login_signup.js"></script>

    <div class="form-wrapper">
        <div class="form-container">
            <h2>Sign Up</h2>
            <form method="POST" action="/signup" id="signUpForm">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
                <div class="error-message" id="nameError"></div>
    
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <div class="error-message" id="emailError"></div>
    
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <div class="error-message" id="passwordError"></div>
    
                <label for="dob">Date of Birth:</label>
                <input type="date" id="dateOfBirth" name="dateOfBirth" required>
                <div class="error-message" id="dateOfBirthError"></div>
    
                <input type="submit" value="Sign Up">
            </form>
            <br>
            <a href="/signin">Already have an account?</a>
        </div>
    </div>
</body>

</html>