<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../components/pageHead', { title: 'E-Mail Verification' }) %>
    <link rel="stylesheet" href="../../public/css/login_signup/verify.css">
</head>

<body>
    <%- include('../components/bodyHead') %>
    
    <div class="verification-wrapper">
        <div class="verification-container">
            <h1>Verify Your Email</h1>
            <h2>Nearly there - check your inbox and verify your account!</h2>
            <p>Tip: If you don't see the email, check your spam folder.</p>
            <br>
            <p>Done? Go ahead and <a href="/dashboard">login to your account</a>.</h3>
        </div>
    </div>
</body>

</html>