<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../components/pageHead', { title: 'Home' }) %>
</head>

<body>
    <%- include('../components/bodyHead') %>

        <script src="public/js/shit_code_delete_me.js"></script>

        <section class="hero" id="home">
            <div class="hero-content">
                <div class="text-welcome">
                    <h1>DASHBOARD</h1>
                </div>
                <h3><span class="typewriter"></span></h3>
                <div class="mobile-hero-image">
                    <img src="public/static/images/lostdog.png" alt>
                </div>
                <p>Simplify pet safety with our QR-coded collars - effortlessly access vital information by just
                    scanning the QR code. Get notified the second someone finds your pet! Discover unmatched pet
                    security today.</p>
                <div class="btn-box">
                    <a href="#contact" class="btn">Create Pet</a>
                    <a href="/account/logout" class="btn">temp logout</a>
                </div>
            </div>
            <div class="hero-image">
                <img src="public/static/images/lostdog.png" alt>
            </div>
        </section>

</body>

</html>