<header class="header">
    <a href="/" class="logo">CollarCode</a>

    <div class="bx bx-menu-alt-right" id="menu-icon"></div>

    <nav class="navbar">
        <a href="/" class="selected">Home</a>
        <a href="#about">About</a>
        <a href="#pricing">Pricing</a>
        <a href="#contact">Contact</a>
        <div class="btn-box registration">
            <a href="/account/signin" class="btn registration">Sign In</a>
            <a href="/account/signup" class="btn registration">Sign Up</a>
        </div>
    </nav>
</header>