<div class="sidebar-wrapper">
    <div class="sidebar">
        <div class="sidebarlogo">
            <h1>CollarCode</h1>
        </div>
        <div class="sidebaroptions">
            <div class="sidebartext">
                <p id="sidebar-signup">Sign Up</p>
                <p id="sidebar-signin">Sign In</p>
                <p id="sidebar-forgotpassword">Forgot your password?</p>
            </div>
        </div>
    </div>
</div>